:host{
    display: block;
  }
  .wheat-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.45);
    transition: opacity 0.3s, height 0s 0.3s;
  }
  .wheat-modal-mask-show {
    opacity: 1;
    height: 100%;
    transition: opacity 0.3s;
  }
  .wheat-modal-container {
    z-index: 1000;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
  }
  
  .wheat-modal-header {
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    height: 54px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
  .wheat-modal-wrapper {
    width: 600px;
    max-height: 600px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  }
  .wheat-modal-wrapper--small {
    width: 360px;
    max-height: 600px;
    min-height: 240px;
  }
  .wheat-modal-wrapper--large {
      width: 800px;
      max-height: 600px;
      min-height: 240px;
  }
  .wheat-modal-wrapper-show {
    animation:scale 0.3s 1;
  }
  @keyframes scale
  {
    from {transform: scale(0.4);opacity: 0;}
    to {opacity: 1;transform: scale(1);}
  }
  .wheat-modal-header-close {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em !important;
    overflow: hidden;
    cursor: pointer;
  }
  .wheat-modal-footer {
    border-top: 1px solid #e6e6e6;
    height: 54px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
  }
  .wheat-modal-content {
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
    padding: 24px;
  }
  