:root {
  --color-primary: #4387f4;
  --color-primary-h: 217deg;
  --color-primary-s: 89%;
  --color-primary-l: 61%;
  --color-primary-10: #f7faff;
  --color-primary-20: #f0f5fe;
  --color-primary-30: #d2e2fc;
  --color-primary-40: #b4cffb;
  --color-primary-50: #7babf7;
  --color-primary-60: #3c79dc;
  --color-primary-70: #2f5eab;
  --color-primary-80: #285192;
  --color-primary-90: #22437a;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__hiui-blue {
  --color-primary: #4387f4;
  --color-primary-h: 217deg;
  --color-primary-s: 89%;
  --color-primary-l: 61%;
  --color-primary-10: #f7faff;
  --color-primary-20: #f0f5fe;
  --color-primary-30: #d2e2fc;
  --color-primary-40: #b4cffb;
  --color-primary-50: #7babf7;
  --color-primary-60: #3c79dc;
  --color-primary-70: #2f5eab;
  --color-primary-80: #285192;
  --color-primary-90: #22437a;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__orange {
  --color-primary: #f63;
  --color-primary-h: 15deg;
  --color-primary-s: 100%;
  --color-primary-l: 60%;
  --color-primary-10: #fff9f7;
  --color-primary-20: #fff3ef;
  --color-primary-30: #ffdace;
  --color-primary-40: #ffc2ad;
  --color-primary-50: #ff9470;
  --color-primary-60: #e65c2e;
  --color-primary-70: #b34724;
  --color-primary-80: #993d1f;
  --color-primary-90: #80331a;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__cyan {
  --color-primary: #47bd9a;
  --color-primary-h: 162deg;
  --color-primary-s: 47%;
  --color-primary-l: 51%;
  --color-primary-10: #f8fcfb;
  --color-primary-20: #f0faf7;
  --color-primary-30: #d3efe7;
  --color-primary-40: #b6e5d6;
  --color-primary-50: #7ed1b8;
  --color-primary-60: #40aa8a;
  --color-primary-70: #32846b;
  --color-primary-80: #2b715c;
  --color-primary-90: #245e4d;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__magenta {
  --color-primary: #ff5773;
  --color-primary-h: 350deg;
  --color-primary-s: 100%;
  --color-primary-l: 67%;
  --color-primary-10: #fff8f9;
  --color-primary-20: #fff2f4;
  --color-primary-30: #ffd7dd;
  --color-primary-40: #ffbcc7;
  --color-primary-50: #ff899d;
  --color-primary-60: #e64e67;
  --color-primary-70: #b33d50;
  --color-primary-80: #993445;
  --color-primary-90: #802b39;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__lavender {
  --color-primary: #b34fde;
  --color-primary-h: 282deg;
  --color-primary-s: 68%;
  --color-primary-l: 59%;
  --color-primary-10: #fcf8fe;
  --color-primary-20: #f9f1fc;
  --color-primary-30: #edd5f7;
  --color-primary-40: #e1b9f2;
  --color-primary-50: #ca84e8;
  --color-primary-60: #a147c7;
  --color-primary-70: #7d389b;
  --color-primary-80: #6b3085;
  --color-primary-90: #59286f;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__blue {
  --color-primary: #3da8f5;
  --color-primary-h: 205deg;
  --color-primary-s: 90%;
  --color-primary-l: 60%;
  --color-primary-10: #f7fcff;
  --color-primary-20: #eff8fe;
  --color-primary-30: #d0eafd;
  --color-primary-40: #b1dcfb;
  --color-primary-50: #77c2f8;
  --color-primary-60: #3797dc;
  --color-primary-70: #2b76ab;
  --color-primary-80: #256593;
  --color-primary-90: #1f547a;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__purple {
  --color-primary: #8b8bcb;
  --color-primary-h: 240deg;
  --color-primary-s: 38%;
  --color-primary-l: 67%;
  --color-primary-10: #fafafd;
  --color-primary-20: #f6f6fb;
  --color-primary-30: #e3e3f2;
  --color-primary-40: #d1d1ea;
  --color-primary-50: #aeaeda;
  --color-primary-60: #7d7db7;
  --color-primary-70: #61618e;
  --color-primary-80: #53537a;
  --color-primary-90: #454565;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
.theme__ocher {
  --color-primary: #835f3f;
  --color-primary-h: 28deg;
  --color-primary-s: 35%;
  --color-primary-l: 38%;
  --color-primary-10: #faf9f7;
  --color-primary-20: #f5f2f0;
  --color-primary-30: #e1d9d1;
  --color-primary-40: #cdbfb2;
  --color-primary-50: #a88f79;
  --color-primary-60: #765539;
  --color-primary-70: #5c422c;
  --color-primary-80: #4e3926;
  --color-primary-90: #412f1f;
  --color-success: #1da553;
  --color-success-20: #edf8f1;
  --color-success-30: #c9e9d6;
  --color-success-40: #a5dbba;
  --color-success-50: #61c087;
  --color-success-60: #1a944b;
  --color-warning: #ffb31a;
  --color-warning-20: #fff9ed;
  --color-warning-30: #ffedc8;
  --color-warning-40: #ffe0a3;
  --color-warning-50: #ffc95e;
  --color-warning-60: #e6a117;
  --color-danger: #f44343;
  --color-danger-20: #fef0f0;
  --color-danger-30: #fcd2d2;
  --color-danger-40: #fbb4b4;
  --color-danger-50: #f77b7b;
  --color-danger-60: #dc3c3c;
  --color-black: #333;
  --color-gray-80: #666;
  --color-gray-70: #999;
  --color-gray-50: #ccc;
  --color-gray-30: #d9d9d9;
  --color-gray-20: #e6e6e6;
  --color-gray-10: #f2f2f2;
  --color-white: #fff;
}
